extends layout

block content
  h1 My Form
  form(action="/results" method="post")
    label(for="description") Description:
    br
    textarea(id = "description" name = "description" cols=40 rows=5)
    br
    label(for="agree") Agree?
    input(type="checkbox" name="agree" id="agree" value="agree")
    br
    input(type="radio" name="iceCream" id="chocolate" value="chocolate")
    label(for="chocolate") Chocolate

    input(type="radio" name="iceCream" id="strawberry" value="strawberry")
    label(for="strawberry") Strawberry

    input(type="radio" name="iceCream" id="vanilla" value="vanilla" checked)
    label(for="vanilla") Vanilla

    input(type="radio" name="iceCreamOther" id="other" value="noneOfThose")
    label(for="other") Other
    br
    button(type="submit") Submit This

    br
    br
    br
  form(method="post" action="/yourTurn")
    select(name="order" id="order")
      option(value = "one") 1 large pizza
      option(value = "two") 1 drink
      option(value = "king") King (1 large pizza and 1 drink)
    br
    select(name="drink" id="drink")
      option(value="Sprite") Sprite
      option(value="Coke") Coke
      option(value="orangeCrush") Orange Crush
      option(value="A&W") A&W
    br
    input(type="radio" name="pizza" id="deepDish" result="deepDish")
    label(for="deepDish") Deep Dish
    br
    input(type="radio" name="pizza" id="regular" result="regular" checked)
    label(for="regular") Regular
    br
    input(type="radio" name="pizza" id="thinCrust" result="thinCrust")
    label(for="thinCrust") Thin Crust
    br
    input(type="radio" name="pizza" id="wholeWheat" result="wholeWheat")
    label(for="wholeWheat") Whole Wheat
    br
    input(type="radio" name="pizza" id="glutenFree" result="glutenFree")
    label(for="glutenFree") Gluten Free
    br

    h4 Free Toppings:
    br
    input(type="checkbox" id="pepperoni" name="pizza")
    label(for="pepperoni") Pepperoni
    br
    input(type="checkbox" id="pineapple" name="pizza")
    label(for="pineapple") Pineapple
    br
    input(type="checkbox" id="bacon" name="pizza")
    label(for="bacon") Bacon
    br
    input(type="checkbox" id="olives" name="pizza")
    label(for="olives") Olives
    br
    input(type="checkbox" id="garlic" name="pizza")
    label(for="garlic") Garlic
    h4 Other toppings (subject to availability):
    label(for="topping1") Other topping 1 ($0.75 extra):
    input(type="text" id="topping1" name="topping1")
    br
    label(for="topping2") Other topping 2 ($0.50 extra):
    input(type="text" id="topping2" name="topping2")
    br
    label(for="toppings") Other toppings ($0.25 extra each):
    br
    textarea(id="toppings" name="toppings")
    br

    button(type="submit") Order